@tailwind base;
@tailwind components;
@tailwind utilities;

.fc-daygrid-day {
  width: 154px;
  min-width: 120px;
  max-width: 180px;
  height: 154px;
  min-height: 120px;
  max-height: 180px;
}
.custom-day-cell {
  width: 120px;
  min-width: 100px;
  max-width: 150px;
}

.calendar-container {
  width: 100%;
  overflow-x: auto;
  height: 100vh;
  overflow-y: auto;
  overflow-x: auto;
}

.fc-daygrid {
  min-width: 1500px;
  max-width: 100%;
}

.fc-daygrid-body {
  display: grid;
  grid-template-columns: repeat(7, 200px);
  gap: 5px;
}
.fc-toolbar {
  min-width: 1500px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.fc-timegrid-slot {
  height: 150px !important;
}
.fc-timegrid {
  width: 1500px !important;
}

.fc-popover-body .fc-event {
  background-color: #4a90e2 !important;
  color: black !important;
}
.fc-more {
  background-color: orange;
}
