@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: full;
  width: full;
}

.element:hover {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), inset, -10px, -10px,
    10px white inset;
}
input {
  @apply px-2;
}
.fc-header-toolbar {
  display: inline-block;
  padding: 4px 4px;

  @apply space-x-8;
}

.fc-day {
  @apply m-8;
}

.fc-scrollgrid-sync-table {
  @apply w-full;
}

.fc-view {
  @apply w-full h-full  bg-white;
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-primary/20;
}

.fc .fc-button {
  @apply bg-primary/80 hover:bg-primary;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-primary;
}

.fc .fc-button-primary:disabled {
  @apply bg-primary;
}

.fc-more {
  @apply bg-primary;
}
